html,body{
  background-color: #87DDF2
}
.main{
  width: 800px;
  margin: 0 auto 0 auto;
}

.start-button{
  border: 1px #000 solid;
  background-color: #21CA7E;
  margin: 5px 0 8px 0;
  border-radius: 3px;
}
